@import url('http://fonts.googleapis.com/css?family=Oswald:400,300');
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

body {
	margin: 0px;
	font-family: "BrandonText-Regular", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: white;
	font-weight: 300;
	}

.content {
  padding: 50px 0px 0px 0px;
}

.opaque {
	background: white !important;
}

.side-progress-bar {
	z-index: 1;
	top: 50px;
	position: fixed;
	right: 20px;
}

i.square {
	background-color: blue;
}

i.square:hover {
	background-color: blue;
    transition: all .5s ease-in-out;
}

#container{
	width:100%;
}
#pigeonBirthday{
	margin:0 auto;
	width:900px;
	height:375px;
	border:1px solid black;
}
#displayWindow{
	width:100%;
	height:300px;
	background:#33B5E5;
}
#displayWindowInformation{
	margin:10px;
}
#matchLabel{
	float:right;
}
.circle{
	background:blue;
	border-radius:100%;
	width:50px;
	height:50px;
}
canvas{
	background:#33B5E5;
}
#numPeople{
	border:none;
	width:5%;
	background:none;
}

pre .latex {
    color:white;
}
