@import url('http://fonts.googleapis.com/css?family=Oswald:400,300');
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

body {
	margin: 0px;
	font-family: "Oswald", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: white;
	font-weight: 300;
	}

.content {
  padding: 50px 0px 0px 0px;
}

.opaque {
	background: white !important;
}

.side-progress-bar {
	z-index: 1;
	top: 50px;
	position: fixed;
	right: 20px;
}

i.square {
	background-color: blue;
}

i.square:hover {
	background-color: blue;
    transition: all .5s ease-in-out;
}
