@import url("http://hello.myfonts.net/count/25cb92");
/* FONTS ---------------------------------------------------------- */
@font-face {
  font-family: 'BrandonText-BoldItalic';
  src: url("webfonts/25CB92_0_0.eot");
  src: url("webfonts/25CB92_0_0.eot?#iefix") format("embedded-opentype"), url("webfonts/25CB92_0_0.woff") format("woff"), url("webfonts/25CB92_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'BrandonText-Bold';
  src: url("webfonts/25CB92_1_0.eot");
  src: url("webfonts/25CB92_1_0.eot?#iefix") format("embedded-opentype"), url("webfonts/25CB92_1_0.woff") format("woff"), url("webfonts/25CB92_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'BrandonText-Regular';
  src: url("webfonts/25CB92_2_0.eot");
  src: url("webfonts/25CB92_2_0.eot?#iefix") format("embedded-opentype"), url("webfonts/25CB92_2_0.woff") format("woff"), url("webfonts/25CB92_2_0.ttf") format("truetype");
}

/* COLORS ---------------------------------------------------------- */
/* line 1, ../scss/demo/_demo.scss */
h1 {
  font-family: BrandonText-Bold, Futura, Helvetica, Arial, sans-serif;
  font-size: 6.0em;
  color: #1babb7;
  text-align: center;
}

/* line 7, ../scss/demo/_demo.scss */
h2 {
  font-family: BrandonText-Regular, Futura, Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  text-align: center;
  color: #333a3e;
}

/* line 13, ../scss/demo/_demo.scss */
p {
  font-family: BrandonText-Regular, Futura, Helvetica, Arial, sans-serif;
  color: #333a3e;
  font-size: 1.4em;
}

/* line 18, ../scss/demo/_demo.scss */
pre {
  color: #d5d7dd;
  color: #bcbdc0;
  font-size: 1.4em;
  line-height: 1.6em;
}

/* line 25, ../scss/demo/_demo.scss */
.darkgrey {
  color: #333a3e;
}

/* line 29, ../scss/demo/_demo.scss */
.lightgrey {
  color: #d5d7dd;
}

/* line 34, ../scss/demo/_demo.scss */
.window:nth-child(1) .window-content {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -170px;
}
/* line 39, ../scss/demo/_demo.scss */
.window:nth-child(1) .window-content i {
  font-size: 4.0em;
  width: 100%;
  text-align: center;
  display: inline-block;
  color: #6ab29f;
}
/* line 46, ../scss/demo/_demo.scss */
.window:nth-child(1) .window-content h1 {
  margin: 0;
  font-size: 5.0em;
}
/* line 50, ../scss/demo/_demo.scss */
.window:nth-child(1) .window-content h2 {
  padding: 0 30px;
}

/* line 58, ../scss/demo/_demo.scss */
.window:nth-child(2) .window-content {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -200px;
}
/* line 63, ../scss/demo/_demo.scss */
.window:nth-child(2) .window-content h2 {
  color: white;
  text-align: center;
  padding: 0 15%;
}
/* line 66, ../scss/demo/_demo.scss */
.window:nth-child(2) .window-content h2 .highlight {
  color: white;
}
/* line 71, ../scss/demo/_demo.scss */
.window:nth-child(2) .window-content h3 {
  color: white;
  text-align: center;
  font-size: 0.5em;
}

/* line 81, ../scss/demo/_demo.scss */
.window:nth-child(3) ul {
  list-style-type: none;
}
/* line 82, ../scss/demo/_demo.scss */
.window:nth-child(3) .window-content {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -230px;
}
/* line 88, ../scss/demo/_demo.scss */
.window:nth-child(3) .window-content h2 {
  text-align: center;
  font-size: 1.0em;
  color: white;
  padding: 0 10%;
}
/* line 94, ../scss/demo/_demo.scss */
.window:nth-child(3) .window-content .explanation {
  font-family: BrandonText-Regular, Futura, Helvetica, Arial, sans-serif;
  color: #333a3e;
  font-size: 1.4em;
  text-align: center;
  padding: 0 15%;
}
/* line 100, ../scss/demo/_demo.scss */
.window:nth-child(3) .window-content .explanation li {
  color: #d5d7dd;
}

/* line 109, ../scss/demo/_demo.scss */
.window:nth-child(4) ul {
  list-style-type: none;
}
/* line 110, ../scss/demo/_demo.scss */
.window:nth-child(4) .window-content {
  position: absolute;
  top: 40%;
  width: 100%;
  margin-top: -230px;
}
/* line 116, ../scss/demo/_demo.scss */
.window:nth-child(4) .window-content h2 {
  text-align: center;
  font-size: 1.0em;
  padding: 0 15%;
}
/* line 122, ../scss/demo/_demo.scss */
.window:nth-child(4) .window-content h3 {
  font-color: #333a3e;
  text-align: center;
  font-size: 2.0em;
  margin-top: 10%;
}

/* line 133, ../scss/demo/_demo.scss */
.window:nth-child(5) .window-content {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -180px;
}
/* line 138, ../scss/demo/_demo.scss */
.window:nth-child(5) .window-content h2 {
  color: black;
  text-align: center;
  font-size: 1.0em;
  padding: 0 15%;
}
/* line 144, ../scss/demo/_demo.scss */
.window:nth-child(5) .window-content h3 {
  font-color: black;
  text-align: center;
  font-size: 1.5em;
  padding: 0 15%;
}

/* line 156, ../scss/demo/_demo.scss */
.window:nth-child(6) .window-content {
  position: absolute;
  top: 40%;
  width: 100%;
  margin-top: -180px;
}
/* line 161, ../scss/demo/_demo.scss */
.window:nth-child(6) .window-content h2 {
  color: black;
  text-align: center;
  font-size: 1.0em;
  padding: 0 15%;
}
/* line 167, ../scss/demo/_demo.scss */
.window:nth-child(6) .window-content h1 {
  font-size: 2.0em;
}

/* line 175, ../scss/demo/_demo.scss */
.window:nth-child(7) .window-content {
  position: absolute;
  top: 35%;
  width: 100%;
  margin-top: -180px;
}
/* line 180, ../scss/demo/_demo.scss */
.window:nth-child(7) .window-content h2 {
  color: black;
  text-align: center;
  font-size: 1.0em;
  padding: 0 15%;
}
/* line 186, ../scss/demo/_demo.scss */
.window:nth-child(7) .window-content h3 {
  color: black;
  text-align: center;
  font-size: .5em;
  padding: 0 15%;
}

/* line 196, ../scss/demo/_demo.scss */
.window:nth-child(8) .window-content {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -180px;
}
/* line 201, ../scss/demo/_demo.scss */
.window:nth-child(8) .window-content h2 {
  color: white;
  text-align: center;
}

/* line 5, ../scss/main.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 10, ../scss/main.scss */
.window {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 15, ../scss/main.scss */
.window .window-content {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -180px;
}
/* line 22, ../scss/main.scss */
.window .bottom {
  position: absolute;
  top: 88%;
  width: 100%;
}
/* line 26, ../scss/main.scss */
.window .bottom i {
  font-size: 4.0em;
  width: 100%;
  text-align: center;
  display: inline-block;
}

/* line 36, ../scss/main.scss */
.window:nth-child(1) {
  background: #d5d7dd;
  top: 0%;
}

/* line 36, ../scss/main.scss */
.window:nth-child(2) {
  background: #1babb7;
  top: 100%;
}

/* line 36, ../scss/main.scss */
.window:nth-child(3) {
  background: #6ab29f;
  top: 200%;
}

/* line 36, ../scss/main.scss */
.window:nth-child(4) {
  background: #d5d7dd;
  top: 300%;
}

/* line 36, ../scss/main.scss */
.window:nth-child(5) {
  background: #6ab29f;
  top: 400%;
}

/* line 36, ../scss/main.scss */
.window:nth-child(6) {
  background: #d5d7dd;
  top: 500%;
}

/* line 36, ../scss/main.scss */
.window:nth-child(7) {
  background: #6ab29f;
  top: 600%;
}

/* line 36, ../scss/main.scss */
.window:nth-child(8) {
  background: #1babb7;
  top: 700%;
}
