h1{
    font-family:$bold;
    font-size:6.0em;
    color:$teal;
    text-align:center;
}
h2{
    font-family:$regular;
    font-size:1.4em;
    text-align:center;
    color:$dark-gray;
}
p{
    font-family:$regular;
    color:$dark-gray;
    font-size:1.4em;
}
pre{
    color:$light-gray;
    color: #bcbdc0;
    font-size: 1.4em;
    line-height: 1.6em;
}

.darkgrey{
    color:$dark-gray;
}

.lightgrey{
    color:$light-gray;
}

.window:nth-child(1){
    .window-content{
        position:absolute;
        top:50%;
        width:100%;
        margin-top:-170px;
        i{
            font-size:4.0em;
            width:100%;
            text-align:center;
            display:inline-block;
            color:$light-green;
        }
        h1{
            margin:0;
            font-size:5.0em;
        }
        h2{
            padding:0 30px;
        }
    }
}


.window:nth-child(2){
    .window-content{
        position:absolute;
        top:50%;
        width:100%;
        margin-top:-180px;
        h2{
            color:white;
            text-align:center;
            .highlight{
                color:white;
            }
        }
    }
}

// game
.window:nth-child(3){
    ul{ list-style-type:none; }
    .window-content{
        position:absolute;
        top:50%;
        width:100%;
        margin-top:-230px;

        h2{
            text-align:center;
            font-size:1.0em;
            color:white;
            padding:0 10%;
        }
        .explanation{
            font-family:$regular;
            color:$dark-gray;
            font-size:1.4em;
            text-align:center;
            padding:0 15%;
            li{
                color:$light-gray;
            }
        }
    }
}

// explanation
.window:nth-child(4){
    ul{ list-style-type:none; }
    .window-content{
        position:absolute;
        top:40%;
        width:100%;
        margin-top:-230px;

        h2{
            text-align:center;
            font-size:1.0em;
            padding:0 15%;
        }
    }    
}

// explanation cont, going to n
.window:nth-child(5){
    .window-content{
        position:absolute;
        top:50%;
        width:100%;
        margin-top:-180px;
        h2{
            color:black;
            text-align:center;
            font-size:1.0em;
            padding:0 15%;
        }
    }
}


//download
.window:nth-child(6){
    .window-content{
        position:absolute;
        top:40%;
        width:100%;
        margin-top:-180px;
        h2{
            color:black;
            text-align:center;
            font-size:1.0em;
            padding:0 15%;
        }
    }
}

// something
.window:nth-child(7){
    .window-content{
        position:absolute;
        top:35%;
        width:100%;
        margin-top:-180px;
        h2{
            color:black;
            text-align:center;
            font-size:1.0em;
            padding:0 15%;
        }
        h3{
            color:black;
            text-align:center;
            font-size:.5em;
            padding:0 15%;
        }
    }
}

.window:nth-child(8){
    .window-content{
        position:absolute;
        top:50%;
        width:100%;
        margin-top:-180px;
        h2{
            color:white;
            text-align:center;
        }
    }
}